{% extends "_global/index.html" %}

{% block main %}
<div class="filters form-group">
        <form method="POST" action="{{BASE}}filter">
                <input class="form-control" type="number" value="0" min="0" max="99999.99" step="0.01" name="min-price" placeholder="Cena od" title="Cena ne sme biti veca od 99999.99"/>
                <input class="form-control" type="number" value="1000" min="0" max="99999.99" step="0.01" name="max-price" placeholder="Cena do" title="Cena ne sme biti veca od 99999.99"/>
            <select name="vrsta" class="form-control">
                <option selected value="0">Vrsta</option>
                {% for vrsta in vrste %}
                <option value="{{vrsta.vrsta_id}}">{{vrsta.naziv}}</option>
                {% endfor %}
            </select>
            <select name="boja" class="form-control">
                    <option selected value="0">Boja</option>
                    {% for boja in boje %}
                    <option value="{{boja.boja_id}}">{{boja.naziv}}</option>
                    {% endfor %}
            </select>
            <select name="sastojak" class="form-control">
                    <option selected value="0">Sastojak</option>
                    {% for sastojak in sastojci %}
                    <option value="{{sastojak.sastojak_id}}">{{sastojak.naziv}}</option>
                    {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Pretraži</button>
        </form>
</div>
<div class="slatkisi">
    {% for slatkis in slatkisi %}
    <div class="slatkis">
        <a href="#" class="cart-link" onclick="addItem({{slatkis.slatkis_id}});"><i class="fas fa-cart-plus"></i></a>
        <a href="{{BASE}}slatkis/{{slatkis.slatkis_id}}">
        <div>
            {% for slika in slike if (slika.is_primarna and slatkis.slatkis_id == slika.slatkis_id)%}
            <img class="slatkis-image" src="{{BASE}}assets/img/{{slatkis.slatkis_id}}/{{slika.naziv}}" alt="{{slatkis.naziv}} slika" />
            {% else %}
            <img alt="{{slatkis.naziv}} slika"/>
            {% endfor %}
        </div>
        <div>
            {{slatkis.naziv | escape | title}}
        </div>
        <div>
            {{slatkis.cena | escape }} RSD po {{slatkis.jedinica_mere | escape}}u
        </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}