{% extends "_global/index.html" %}

{% block title%}{{slatkis.naziv | title}}{% endblock %}

{% block main %}

    <div class="slatkis-show">
        <div id="carousel-slatkisi" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                    {% for slika in slike %}
                    {% if loop.first %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                            <img src="{{BASE}}assets/img/{{slatkis.slatkis_id}}/{{slika.naziv}}" class="d-block w-100" alt="slatkis" />
                        </div>
                    {% endfor %}
            </div>

            <a class="carousel-control-prev" href="#carousel-slatkisi" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carousel-slatkisi" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div>
            Naziv: {{slatkis.naziv | escape}}
        </div>
        <div>
            Cena po {{slatkis.jedinica_mere | escape}}u: {{slatkis.cena | escape}} RSD
        </div>
        <div>
            Vrsta: 
            {% for vrsta in vrste if (slatkis.vrsta_id == vrsta.vrsta_id) %}
            {{vrsta.naziv | escape}}
            {% endfor %}
        </div>
        <div>
            Država: 
            {% for drzava in drzave if (slatkis.drzava_id == drzava.drzava_id) %}
            {{drzava.naziv | escape}}
            {% endfor %}
        </div>
        <div>
            Boja: 
            {% for boja in boje if (slatkis.boja_id == boja.boja_id) %}
            {{boja.naziv | escape}}
            {% endfor %}
        </div>
        <div>
            <a href="#" onclick="addItem({{slatkis.slatkis_id}})"><i class="fas fa-cart-plus"></i> Dodaj u korpu</a>
        </div>
    </div>
{% endblock %}