* {
    box-sizing: border-box;
    padding:0px;
    margin:0px;    
}

body{
    margin: 0px auto;
    width: 900px;
    background: rgba(241, 244, 255, 0.8);
}

.main-wrapper{
    background: #ffffff;
}

.site-header{
    display:grid;
    grid-template-areas: "banner social"
                         "menu menu"
                         "filter filter";
}

.banners{
    grid-area: banner;
}

.social-icons{
    grid-area: social;
    text-align: right;
}

.social-icons > a{
    display: inline-flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    margin: 0.25em 0.25em 0px 0.25em;
    background-color: rgb(0,0,0);
    border-radius: 100%;
    text-decoration: none;
}

#linkedin-icon{
    background-color: rgb(0, 123, 181);
}

#linkedin-icon:hover{
    background-color: rgba(0, 124, 181, 0.7);
}

#facebook-icon{
    background-color: rgb(59, 89, 152);
}

#facebook-icon:hover{
    background-color: rgba(59, 89, 152, 0.7);
}

#twitter-icon{
    background-color: rgb(85, 172, 238);
}

#twitter-icon:hover{
    background-color: rgba(85, 172, 238, 0.7);
}

#googleplus-icon{
    background-color: rgb(221, 75, 57);
}

#googleplus-icon:hover{
    background-color: rgba(221, 75, 57, 0.7);
}

#youtube-icon{
    background-color: rgb(255, 0, 0);
}

#youtube-icon:hover{
    background-color: rgba(255, 0, 0, 0.7);
}

.social-icons > a > i {
    font-size: 2em;
    color: rgb(255,255,255);
    
}

#main-menu{
    grid-area: menu;
    margin: 10px 0px;
}

#main-menu > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}

#main-menu > ul > li{
    flex-grow: 1;
    text-align: center;
}

#main-menu > ul > li > a{
    display: block;
    padding: 10px 0px;
    border-radius: 5px;
}

#main-menu > ul > li :hover{
    background: rgba(200,200,200,0.3);
}

.filters{
    grid-area: filter;
    margin: 10px 0px;
}

.filters > form{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.filters > form > *{
    flex-grow: 1;
}

.slatkisi{
    display:flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
}

.slatkis{
    width: 33.33%;
    text-align:center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #9bcfcf;
    background-color: rgba(145, 210, 226, 0.2);
}

.slatkis:hover{
    border: 1px solid #9bcfcf;
    background-color: rgba(145, 210, 226, 0.6);
}

.slatkis > a{
    display: block;
    text-decoration: none;
    color: #000000;
}

.slatkis-image{
    width: 100%;
    height: 250px;
}

.site-footer{
    margin-top: 40px;
    text-align: center;
}

#carousel-slatkisi{
    width: 30vh;
    background-color: rgba(145, 210, 226, 0.4);
}

.cart{
    display: block;
    position: fixed;
    top: 50px;
    right: 0px;
    background: rgba(145, 210, 226, 0.6);
    border-radius: 5px; 
}

.cart > a{
    display: block;
}

.admin-slatkis > td {
    text-align: center;
    vertical-align: middle;
}

.admin-slatkis-image {
    height: 5em;
}

.slatkis > .cart-link {
    text-decoration: none;
    color: rgb(37, 228, 139);
    font-size: 2em;
    position: relative;
    float: right;
}